* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* section */
.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 40px;
}

.section-heading {
    width: 444px;
    text-align: center;
    margin: 40px auto;
}

.section-heading>h2 {
    color: #272727;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0;
    /* font-family: var(); */
}

/* header================== */
header {
    background: rgba(229, 84, 115, 0.10);
}

/* banner section start */
.banner-text {
    max-width: 60%;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

/* .banner-text{
    background-color: red;
} */
.banner-text * {
    margin-bottom: 20px;
}

.banner-text>h2 {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
}

/* banner-img */
.banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* banner section end */
.featured {
    margin: 100px 0;
}

.flower-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    /* justify-content: space-between; */
    /* align-items: end; */
}

.flower .flower-img {
    background-color: red;
    border-radius: 300px 300px 0 0;
    height: 400px;
    /* padding: 30px 15px 0px; */
    display: flex;
    align-items: end;
    justify-content: center;
}

.flower {
    /* background-color: #E55473; */
}

.flower .flower-img img {
    width: 300px;
    object-fit: contain;
    height: 300px;
}

.flower>p {
    color: #272727;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 10px 0;

}

/* delivery-sec */
#sale-discount {
    margin: 100px 0;
    background: rgba(229, 84, 115, 0.05);
}

.delivery-sec {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px 30px;
}

.delivery-img p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    /* 145.833% */
}

/* Hot Deal */
.hot-deal {
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: space-around;
}

.hot-deal-text {
    width: 500px;
    text-align: center;
}

.hot-deal-text h2 {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.hot-deal-text span {
    color: #E55473;
}

.hot-deal-text p {
    margin: 10px 0;
}

.hot-deal img {
    height: 300px;
}

/* latest-deals */
.latest-deals {
    background-image: url("Flower Asset/Rectangle 9.png");
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.latest-deals img {
    width: 100%;
}
.latest-heading{
    text-align: center;
}
.latest-deals h2 {
    color: #272727;
    font-size: 32px;
    font-weight: 800;
}
.latest-deals form{
    max-width: 80%;
    margin: 20px auto;
    /* background-color: red; */
    display: flex;
    gap: 10px;

}
.latest-deals form input{
    flex-grow: 1;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;

}
.latest-deals form input:focus{
    outline: 1px solid green;

}